<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h4>商品編集</h4>
     <%= form_with model:@item, url:admin_item_path(@item.id), local:true do |f| %>
      <div class="form-grouop mb-3">
        <label for="item_image" class="form-label">商品画像</label>
        <%= f.attachment_field :image %>
      </div>
      <div class="form-grouop mb-3">
        <label for="item_name" class="for-label">商品名</label>
        <div><%= f.text_field :name, class:'form-control' %></div>
      </div>
      <div class="form-grouop mb-3">
        <label for="item_introduction" class="for-label">商品説明</label>
        <div><%= f.text_area :introduction, class:'form-control' %></div>
      </div>
      <div class="from-grouop mb-3">
        <label for="item_genre" class="for-label">ジャンル</label>
        <div><%= f.collection_select :genre_id, Genre.all, :id, :name %></div>
      </div>
      <div class="form-grouop mb-3">
        <label for="item_price" class="for-label">税抜価格</label>
        <div><%= f.text_field :price %> 円</div>
      </div>
      <div>
        <p>販売ステータス</p>
        <label><%= f.radio_button :is_active, true %>販売中</label>
        <label><%= f.radio_button :is_active, false %>販売停止中</label>
      </div>
      <%= f.submit '変更を保存' %>
     <% end %>
    </div>
  </div>
</div>