<h2>プロフィール編集</h2>
<%= form_with model: @customer, local: true do |f| %>
     <div class="from-group">
       <%= f.label :'名前' %>
       <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
       <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
     </div>

     <div class="from-group">
      <%= f.label :'フリガナ' %>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
     </div>

     <div class="from-group">
      <%= f.label :'メールアドレス' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
     </div>

     <div class="from-group">
      <%= f.label :'郵便番号' %>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
     </div>

     <div class="from-group">
      <%= f.label :'住所' %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
     </div>

     <div class="from-group">
      <%= f.label :'電話番号' %>
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
     </div>
  <%= f.submit "変更を保存" %>
<% end %>