<div class="container mt-3">
 <div class="row">
   <div class="mx-auto">
    <h4 class="mb-5" style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">マイページ</h4>
     <h5><strong>登録情報</strong></h5>
     <%= link_to '編集する', edit_customer_path(@customer.id), class:'btn btn-success' %>
     <table class="table table-bordered">

        <tbody>
          <tr>
            <th>氏名</th>
            <td><%= @customer.full_name %></td>
          </tr>
            <th>カナ</th>
            <td><%= @customer.full_name_kana %></td>
          </tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
           <th>電話番号</th>
           <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
           <th>メールアドレス</th>
           <td><%= @customer.email %></td>
          </tr>

     </table>
     <div>
     <h5><strong>配送先</strong></h5>
     <%= link_to '一覧を見る', addresses_path, class:'btn btn-info' %>
     </div>
     <h5><strong>注文履歴</strong></h5>
     <%= link_to '一覧を見る', orders_path, class:'btn btn-primary' %>
     </div>
    </div>
  </div>
 </div>