<div class="container">
  <div class="row">
    <div class="col mx-auto ">
　　　<%= image_tag 'logo._image1.PNG', class:'img-fluid' %>
　　　<div class="card-img-overlay text-center text-light">
　　　  <p class="main-text">
　　　  ようこそ、ナガノCAKEへ！</br>
　　　  このサイトは、ケーキ販売のECサイトになります。</br>
　　　  会員でない方も商品の閲覧はできますが、</br>
　　　  購入には会員登録が必要になります。</p>
　　　</div>
    </div>
  </div>

  <div class="row">
    <h3>新着商品</h3>
    <% @item.each do |item| %>
    <div class="col mx-auto">
         <div><%= attachment_image_tag item, :image, :fill, 150, 150, format:'jpg' %></div>
         <div>
           <%= link_to item_path(item.id) do %>
           <%= item.name %>
           <% end %>
         </div>
         <div><%= item.price.to_s(:delimited) %></div>
    </div>
    <% end %>
  </div>
</div>