  <div class="jumbotron-extend">
      <h2 class="title d-flex align-items-center justify-content-center">Welcome to NaganoCake</h2>
  </div>

  <div class="container">
      <h6 class="message d-flex align-items-center justify-content-center mt-3">
　　   ようこそ、ナガノCAKEへ！</br>
　　   このサイトは、ケーキ販売のECサイトになります。</br>
　　   会員でない方も商品の閲覧はできますが、</br>
　　   購入には会員登録が必要になります。</h6>
         <h3 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">NEW LINEUP</h3>
    <div class="row item">
      <% @item.each do |item| %>
      <div class="col text-center mt-3">
        <div class="item_image">
          <%= attachment_image_tag item, :image, :fill, 200, 200, format:'jpg', class:'border border-light rounded-top' %>
        </div>
        <div class="item_name">
          <%= link_to item_path(item.id) do %>
          <%= item.name %>
          <% end %>
        </div>
        <div class="item_price">¥ <%= item.price.to_s(:delimited) %></div>
      </div>
      <% end %>
    </div>

    <div class="row link">
     <div class="col text-right mt-3">
      <p><%= link_to '全ての商品を見る ＞', items_path %></p>
     </div>
    </div>
  </div>