<div class="container mt-5">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
   <h4 class="page-title">配送先登録/一覧</h4>
   <%= form_with model: @address, local:true do |f| %>
    <table>
     <tbody>
      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <td><%= f.text_field :postal_code, class:'form-control ml-3' %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td class="address-col"><%= f.text_field :address, class:'form-control ml-3' %></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name, class:'form-control ml-3' %></td>
      </tr>
      <tr>
       <th></th>
       <td><%= f.submit '新規登録', class:'btn btn-success' %></td>
      </tr>
     </tbody>
    </table>
   <% end %>

   <table class="table table-bordered mt-5">
     <thead class="table-light">
      <tr>
         <th>郵便番号</th>
         <th>住所</th>
         <th>宛名</th>
         <th></th>
      </tr>
     </thead>
     <tbody>
       <% @addresses.each do |address| %>
       <tr>
         <td><%= address.postal_code %></td>
         <td><%= address.address %></td>
         <td><%= address.name %></td>
         <td><%= link_to '編集する', edit_address_path(address.id), class:'btn btn-success' %>
             <%= link_to '削除する', address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:'btn btn-danger' %>
         </td>
       </tr>
       <% end %>
     </tboby>
   </table>
  </div>
 </div>
</div>