<div class="container mt-5">
  <div class="row mx-auto">
   <div class="col text-right">
     <%= attachment_image_tag @item, :image, :fill, 200, 200, format:'jpg' %>
   </div>
   <div class="col">
     <table class="table table-borderless">
       <tbody>
         <tr>
           <th class="h3"><%= @item.name %></th>
         </tr>
         <tr>
           <th><%= @item.introduction %></th>
         </tr>
         <tr>
          <th class="h4">￥<%= @item.with_tax_price.to_s(:delimited) %>  <span class="h6">(税込)</span></th>
         </tr>
         <tr>
          <th>
          <%= form_with model:@cart_item, url:cart_items_path, local:true do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.select :amount, *[1..10], {include_blank: '個数選択' }, { class:'form-control mb-3 col-sm-8 col-lg-5'} %>
            <%= f.submit "カートに入れる", class:'btn btn-success form-control col-sm-8 col-lg-5' %></td>
          <% end %>
          </th>
         </tr>
       </tbody>
     </table>
   </div>
  </div>
</div>